.button {
    border-radius: 1.25rem;
    background: #84a98c;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: auto 1rem;
    color: white;
}

.button:hover,
.button:active {
    cursor: pointer;
    background: #52796f;
}

.icon {
    margin-right: 0.5rem;
}

.badge {
    background-color: #ffffff;
    color: #000000;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

