@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 10%;
    width: 100%;
    z-index: 1;
    margin: auto;
}

.title {
    font-family: "Lobster", cursive;
    color: #52796f;
    font-size: 5rem;
}
