.mealsList {
    border-radius: 1rem;
    border: 2px solid seagreen;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: seagreen;
    color: white;
    list-style: none;
}
