.mealItem {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: gray;
}

.mealItem:last-of-type {
    border-bottom-style: none;
}

.mealItem h4 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.amount {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.mealItem label {
    color: red;
    border: 1px solid black;
    margin-right: 1rem;
    height: 2rem;
}

.mealItem input {
    width: 20%;
    background-color: blue;
    height: 2rem;
}

.description {
    color: black;
    font-style: italic;
    margin-bottom: 0;
}

.price {
    font-weight: bold;
    color: seagreen;
}
