@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h1 {
    margin: 0.5rem;
    font-family: "Montserrat", sans-serif;
}

.form-container {
    margin: 5rem auto;
    text-align: center;
    border-radius: 1rem;
    border: 2px solid #354f52 ;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sign-up-container {
    width: 50%;
    z-index: 2;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    color: black;
    border: 1px solid #808080;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 2.5rem;
    width: 2.5rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 1.25rem;
    background: #84a98c;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: white;
}


button:hover {
    cursor: pointer;
    background: #52796f;
}