.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: #093028;
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    background: linear-gradient(to right, #237A57, #093028);

    color: white;
    width: 100%;
    z-index: 1;
}

.header-image {
    width: 100%;
    height: 14rem;
    z-index: 0;
    overflow: hidden;
}

.header-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-4deg) translateY(-4rem) translateX(-1rem);
}