.header-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: #093028;
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    background: linear-gradient(to right, #237A57, #093028);

    color: white;
    width: 100%;
    z-index: 1;
}

.button {
    cursor: pointer;
    border: none;
    background-color: seagreen;
    color: white;
    margin: 0.5rem;
    padding: 0.75rem;
    border-radius: 25px;
    font-weight: bold;
}
