.mealItem {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: gray;
}

.mealItem:last-of-type {
    border-bottom-style: none;
}

.mealItem h4 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.description {
    color: black;
    font-style: italic;
    margin-bottom: 0;
}

.price {
    font-weight: bold;
    color: seagreen;
}
